<div class="row">
  <content class="col-md-9" role="main">
    <h1 class="page-header"><%= @text %></h1>
    <h2><a href="/">Take me back!</a></h2>
    <p>
      <img src="/images/alone.jpg" class="thumbnail" alt="alone"/>
    </p>
  </content>
  <sidebar class="col-md-3">
    <menu class="hidden-print" role="complementary">
      <h3>Links</h3>
      <ul class="list-group">
        <li class="list-group-item"><a href="http://www.swisstxt.ch">SWISS TXT Homepage</a></li>
      </ul>
    </menu>
  </sidebar>
</div>