<div class="row">
  <content class="col-md-9" role="main">
    <h1 class="page-header"><%= @text %></h1>
    <h4><a href="/">Take me back!</a></h4>
    <p>
      <img src="/images/alone.jpg" class="thumbnail" alt="alone"/>
    </p>
  </content>
</div>
