<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      OnDuty <% if @title %>| <%= @title %><% end %>
    </title>

    <link href="/favicon.ico" rel="shortcut icon">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-select.min.css" rel="stylesheet">
    <link href="/css/application.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
      <header id="top">
          <ul class="nav nav-pills pull-right">
            <li>
              <a href="/">
                <span class="glyphicon glyphicon-home"> Home
              </a>
            </li>
            <li>
              <a href="/contacts">
                <span class="glyphicon glyphicon-user"> Contacts
              </a>
            </li>
            <li>
              <a href="/alerts">
                <span class="glyphicon glyphicon-exclamation-sign"> Alerts
              </a>
            </li>
          </ul>
        <h3>
          <a href="/"><img width="118" height="25" src="/images/logo.png"></a>
        </h3>
      </header>

      <main>
        <%= yield %>
      </main>
    </div> <!-- /container -->

    <footer>
      <div class="container">
        <p class="text-muted">
          OnDuty <%= OnDuty::VERSION %> | &copy; SWISS TXT <%= Time.now.year %>
        </p>
      </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/javascript/bootstrap.min.js"></script>
    <script src="/javascript/bootstrap-select.min.js"></script>
    <script src="/javascript/application.js"></script>
  </body>
</html>
